[submodule "Alien-Invasion"]
	path = Alien-Invasion
	url = https://github.com/mrinconp/Alien-Invasion.git
	branch = main
[submodule "Sideway-Shooter-Final"]
	path = Sideway-Shooter-Final
	url = https://github.com/mrinconp/Sideway-Shooter-Final.git
	branch = main
